@using movierecommender.Models
@model  IEnumerable<Movie>
@{
    ViewBag.Title = "Recommend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>A few recommendations!</h1>

<div class="row">
    @if (Model != null)
    {
        foreach (var movie in Model)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-block">
                        <h3 class="card-title">@movie.MovieName</h3>
                        <a href="@Url.Action("Watch", "Movies")" class="btn btn-primary">Play Movie</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h2>Something went wrong! please check the error log.</h2>
    }
    </div>
<hr />
<button type="button" OnClick="location.href='@Url.Action("Choose", "Movies")'" class="btn btn-lg breadcrumb btn-link">This is fun, Let Me Try Again!</button>

